######### Server
# dependencies
/server/node_modules

# encryption keys
.env


#Testing
/server/src/test


#File upload
/server/uploads/audios
/server/uploads/images
/server/uploads/files


#docunment
/server/docunment


######## Frontend
# dependencies
/frontend/node_modules