######### Server
# dependencies
/server/node_modules

# encryption keys
.env


#Testing
/server/src/test


#File upload
/server/uploads/audios
/server/uploads/images
/server/uploads/files


#docunment
/server/docunment

#package-json
/server/package-lock.json


######## Frontend

# dependencies
/frontend/node_modules

#package-json
/frontend/package-lock.json